{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The career options of a Business Analyst
      </h1>
      
      <ul>
        <li><a href = "junior-BA">Junior Business Analyst</a></li>
        <li><a href = "BA">Business Analyst</a></li>
        <li><a href = "Senior-BA">Senior Business Analyst</a></li>
        <li><a href = "Principal-BA">Principal Business Analyst</a></li>
      </ul>

      <p>There are different responsabilities that the Business Analyst covers, varying from project to project, and from company to company.</p>
      <p></p>

      <p>If you want to get more information about our role, we can advice you of 2 website that will boarden your knowledge: <br/>
      The websites are: <br/>
      <ul>
        <li><a href="https://www.gov.uk/guidance/business-analyst--2">Business Analyst - GOV.UK</a>.</li>
        <li><a href ="https://www.bcs.org/it-careers/business-analysis/"> Business Analysis - BCS</a>.</li>
      </ul>
        </p>

    </div>
  </div>

{% endblock %}
