{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="CheckContactForm" method="post">

        {{ govukInput({
          id: "full-name",
          name: "full-name",
          value: data["full-name"],
          label: {
            html: "Please enter your full name",
            classes: "govuk-label--l",
            isPageHeading: false
          }
        }) }}

        {{ govukInput({
          id: "email",
          name: "email",
          value: data["email"],
          label: {
            html: "Please enter your email",
            classes: "govuk-label--l",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "enquiry",
          id: "enquiry",
          value: data["enquiry"],
          label: {
            text: "Please write your enquiry in the box below",
            classes: "govuk-label--l",
            isPageHeading: false
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
