.govuk-link-after::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3.31px;
  width: 7px;
  height: 7px;
  margin: auto 0;
  /* -webkit-transform: rotate(
45deg
); */
  -ms-transform: rotate(45deg);
  /* transform: rotate(
45deg
); */
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #505a5f;
}
.govuk-link-after:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  bottom: -14px;
  left: 0;
}