{% extends "layout.html" %} {% block beforeContent %}
<a class="govuk-back-link" href="/">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Philosofies</h1>

    <p>
      This page will show the philosofies of the Business Analyst in the Civil
      Service. As they play an important role in merging into the team and
      simplifying the cooperation between team members. Another importance is
      that following a philosofy in the workplace ensures that you are following
      the policy and regulations put in place.
    </p>

    <div style="border: solid 1px grey; padding: 10px; margin-bottom: 12px">
      <h3 class="govuk-heading-m">Question everything</h3>
      <p>
        A business analyst must question everything he encounters to break down
        any complex topics into smaller achievable bits. This also simplifies
        delivering concepts to the rest of the teams and the stakeholders.
      </p>
    </div>

    <div style="border: solid 1px grey; padding: 10px; margin-bottom: 12px">
      <h3 class="govuk-heading-m">Uncover any gaps remaining</h3>
      <p>
        It is important that if there are any gaps appearing through the prcess,
        the buiness analyst seeks to uncover them and try to fill them with the
        required information.
      </p>
    </div>

    <div style="border: solid 1px grey; padding: 10px; margin-bottom: 12px">
      <h3 class="govuk-heading-m">Effective translation</h3>
      <p>
        As a business analyst works with various people with various levels of
        technicality, it is important that he breaks down complex words or terms
        into easier information for non-technical people.
      </p>
    </div>

    <div style="border: solid 1px grey; padding: 10px; margin-bottom: 12px">
      <h3 class="govuk-heading-m">User-centered design process</h3>
      <p>
        It is important that all the steps of the project have been builf and/or
        created based aroun user necessity.
      </p>
    </div>

    <p>
      This paragraph has a link to
      <a href="/url/of/onward/page">find out more about this subject</a>.
    </p>
  </div>
</div>

{% endblock %}
